{
  "swagger": "2.0",
  "info": {
    "version": "1.0.0",
    "title": "API Gateway Node JS",
    "description": "Developer: Pedro Davi - https://pedrodavi.com.br"
  },
  "host": "gwapi.pedrodavi.com.br",
  "basePath": "",
  "tags": [],
  "schemes": [
    "https",
    "http"
  ],
  "securityDefinitions": {
    "apiKeyAuth": {
      "type": "apiKey",
      "in": "query",
      "name": "X-API-KEY",
      "description": "any description..."
    }
  },
  "consumes": [],
  "produces": [],
  "paths": {
    "/v1/business-date/{date}": {
      "get": {
        "tags": [
          "Query"
        ],
        "description": "Checar se dia é útil.",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "date",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Data",
            "example": "29042022"
          }
        ],
        "responses": {
          "200": {
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "type": "string",
                  "example": ""
                },
                "diaDaSemana": {
                  "type": "string",
                  "example": ""
                },
                "util": {
                  "type": "string",
                  "example": ""
                },
                "msg": {
                  "type": "string",
                  "example": ""
                }
              },
              "required": [
                "data",
                "diaDaSemana",
                "util",
                "msg"
              ],
              "xml": {
                "name": "main"
              }
            },
            "description": "OK"
          }
        },
        "security": [
          {
            "apiKeyAuth": [
              "83365837234061750124"
            ]
          }
        ]
      }
    },
    "/v1/crypt": {
      "post": {
        "tags": [
          "Cryptography"
        ],
        "description": "Criptografia.",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "Request",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "sequence": {
                  "type": "string",
                  "example": "string"
                }
              },
              "required": [
                "sequence"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "schema": {
              "type": "object",
              "properties": {
                "encryptedString": {
                  "type": "string",
                  "example": ""
                },
                "diKey": {
                  "type": "string",
                  "example": ""
                },
                "publicKey": {
                  "type": "string",
                  "example": ""
                },
                "privateKey": {
                  "type": "string",
                  "example": ""
                }
              },
              "required": [
                "encryptedString",
                "diKey",
                "publicKey",
                "privateKey"
              ],
              "xml": {
                "name": "main"
              }
            },
            "description": "OK"
          }
        },
        "security": [
          {
            "apiKeyAuth": [
              "83365837234061750124"
            ]
          }
        ]
      }
    },
    "/v1/decrypt": {
      "post": {
        "tags": [
          "Cryptography"
        ],
        "description": "Descriptografia.",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "Request",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "diKey": {
                  "type": "string",
                  "example": ""
                },
                "encryptedString": {
                  "type": "string",
                  "example": ""
                },
                "privateKey": {
                  "type": "string",
                  "example": ""
                },
                "publicKey": {
                  "type": "string",
                  "example": ""
                }
              },
              "required": [
                "diKey",
                "encryptedString",
                "privateKey",
                "publicKey"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "schema": {
              "type": "object",
              "properties": {
                "sequence": {
                  "type": "string",
                  "example": "string"
                }
              },
              "required": [
                "sequence"
              ],
              "xml": {
                "name": "main"
              }
            },
            "description": "OK"
          }
        },
        "security": [
          {
            "apiKeyAuth": [
              "83365837234061750124"
            ]
          }
        ]
      }
    },
    "/v1/address/{zipcode}": {
      "get": {
        "tags": [
          "Query"
        ],
        "description": "Consultar endereço por CEP.",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "zipcode",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "CEP",
            "example": "58900000"
          }
        ],
        "responses": {},
        "security": [
          {
            "apiKeyAuth": [
              "83365837234061750124"
            ]
          }
        ]
      }
    },
    "/v1/btc/value/{currency}": {
      "get": {
        "tags": [
          "Finance"
        ],
        "description": "Consultar valor do Bitcoin por moeda.",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "currency",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Moeda",
            "example": "BRL > Real || USD > Dólar"
          }
        ],
        "responses": {
          "200": {
            "schema": {
              "type": "object",
              "properties": {
                "15m": {
                  "type": "string",
                  "example": ""
                },
                "last": {
                  "type": "string",
                  "example": ""
                },
                "buy": {
                  "type": "string",
                  "example": ""
                },
                "sell": {
                  "type": "string",
                  "example": ""
                },
                "symbol": {
                  "type": "string",
                  "example": ""
                }
              },
              "required": [
                "15m",
                "last",
                "buy",
                "sell",
                "symbol"
              ],
              "xml": {
                "name": "main"
              }
            },
            "description": "OK"
          }
        },
        "security": [
          {
            "apiKeyAuth": [
              "83365837234061750124"
            ]
          }
        ]
      }
    },
    "/v1/scan/domain/{domain}/{apikey}": {
      "get": {
        "tags": [
          "Security"
        ],
        "description": "Checar integridade de domínio. Gere sua chave de api se cadastrando no site Vírus Total",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "domain",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Dominio",
            "example": "gwapi.pedrodavi.com.br"
          },
          {
            "name": "apikey",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Api Key",
            "example": "23424125141234821381482183148128"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "security": [
          {
            "apiKeyAuth": [
              "83365837234061750124"
            ]
          }
        ]
      }
    }
  },
  "definitions": {}
}